.header {
  min-height: 100vh;
  background-image: url(../images/desktop/image-hero.jpg);
  color: var(--White);
  padding: 3rem 5vw 0;
  background-repeat: no-repeat;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
      cursor: pointer;
      transition: all 0.1s linear;
    }

    &-logo:hover {
      transform: scale(1.01);
    }

    &-items {
      & .hamburguer-menu img {
        cursor: pointer;
        transition: all 0.1s linear;
        @media (min-width: $m) {
          display: none;
        }
        &:hover {
          transform: scale(1.1);
        }
      }

      ul {
        display: none;
        @media (min-width: $m) {
          display: flex;
          li {
            cursor: pointer;
          }
          li:after {
            content: '';
            display: block;
            width: 0%;
            padding-top: 1rem;
            border-bottom: 2px solid var(--White);
            color: white;
            transition: width 0.3s ease-in-out;
          }
          li:hover:after {
            width: 100%;
          }
          li:not(:last-child) {
            margin-right: 3rem;
          }
        }
      }
    }
  }
  &__content {
    &-text {
      border: 0.5px solid var(--White);
      padding: 2rem 1.5rem;
      margin-top: 12.5rem;
      max-width: 60rem;
      text-transform: uppercase;
    }
  }
}
