.project {
  padding: 8rem 4vw 5.5rem;
  &__header {
    @media (min-width: $s) {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 4rem;
    }
    & .heading-2 {
      text-transform: uppercase;
      text-align: center;
    }
    & .btn {
      display: none;
      @media (min-width: $s) {
        padding: 1.3rem 3.5rem;
        display: flex;
      }
    }
    & .btn-2 {
      display: block;
      width: 100%;
      justify-content: center;
      margin: 0 auto;
      @media (min-width: $s) {
        display: none;
      }
    }
  }
  &__images {
    text-align: center;
    @media (min-width: $s) {
      display: flex;
      flex-wrap: wrap;
      gap: 2.5rem;
      justify-content: center;
    }
    & .project__image {
      cursor: pointer;
      position: relative;
      max-height: 15rem;
      overflow: hidden;
      margin-bottom: 1rem;
      @media (min-width: $s) {
        max-height: 45rem;

        margin-left: 3rem;
      }

      & img {
        width: 100%;
        max-width: 37.5rem;
        @media (min-width: $s) {
          max-height: auto;
        }
      }
      &:hover img {
        opacity: 0.5;
      }
      &:hover .heading-3 {
        filter: invert(100%);
      }

      & img {
        border-radius: 0.5rem;
        filter: brightness(70%);
        transition: all 0.2s ease-in-out;
      }
      & .heading-3 {
        position: absolute;
        padding: 2rem;
        left: 13%;
        bottom: 0;
        color: var(--White);
        text-transform: uppercase;
        width: 18.5rem;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
